.header {
  background-color: #2b3a42;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.mainButton {
  display: flex;
  align-items: center;
}
.mainButton button {
  -webkit-app-region: no-drag;
  /*font-size: 30px;*/
  margin-left: 10px;
  /*box-shadow: 10px 0 54px -14px rgba(0, 0, 0, 0.75);*/
  color: white;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
.mainButton button:disabled, .mainButton button[disabled] {
  cursor: default;
}
.mainButton img {
  width: 35px;
}
.header p {
  padding: 10px;
  font-size: 20px;
}
.actionButtons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.actionButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 25px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
.actionButton:hover {
  color: #4ecca3;
}
.currentDate {
  text-align: center;
  margin: 6px 20px;
}
.currentDate p {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.appName {
  margin: 0 15px;
}
.appName > span {
  font-size: 22px;
}
.appName > span:nth-child(2) {
  color: #52cc1f;
}
