.header {
  background-color: #283149;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.header p {
  padding: 10px;
  font-size: 20px;
}
.actionButtons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.actionButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 25px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
.actionButton:hover {
  color: #4ecca3;
}
.currentDate {
  font-size: 25px;
  text-align: center;
  margin-top:10px;
}
