.task {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.sideBar {
  width: 20%;
  padding: 10px;
  height: 100vh;
  background-color: #232931;
  box-shadow: 4px 0 7px -3px rgba(0, 0, 0, 0.75);
}
.sideBar h3 {
  font-weight: 400;
  margin: 0;
}
.sideBar span {
  color: #ddd;
  font-size: 10px;
}
.desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.editor {
  width: 100%;
}
.editor textarea {
  font-family: inherit;
  width: 100%;
  height: 90%;
  resize: none;
  background-color: #2c2828;
  color: white;
  border: none;
  padding: 15px;
  box-sizing: border-box;
}
.editor textarea::placeholder {
  color: #eee;
}
.editor textarea:focus {
  outline: none;
}
.timer {
  font-size: 50px;
  text-align: center;
  margin: 10px 0;
}
