
.tasksGrid {
  width: 100%;
  height: 92vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  overflow-y: auto;
  box-sizing:inherit;
}
.emptyTasks {
  text-align: center;
}
