.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.header button {
  background: none;
  outline: none;
  border: none;
  font-size: 25px;
  color: white;
}
.header button:hover {
  cursor: pointer;
  color: #4ecca3;
}
.form {
  width: 60%;
  margin: 20px auto;
  padding-bottom: 50px;
}
.form h2 {
  color: white;
}

.form input,
.form textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  background-color: #3f5765;
  border: none;
  border-radius: 2px;
  color: white;
  margin: 10px 0;
  font-family: inherit;
}
.form input::placeholder,
.form textarea::placeholder {
  color: #ccc;
}
