.listContainer {
  width: 100%;
  overflow: hidden;
  margin-top: 2%;
}
.emptyTasks {
  padding: 10px;
}
.descOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.list table thead td, th {
  padding: 15px 10px;
  font-size: 10px;
  color: #ccc;
}
.list table tbody td,th {
  padding: 15px 10px;
  border-top: 1px solid #46567f;
  border-bottom: 1px solid #46567f;
}

.list table tbody tr:hover {
  background-color: #46567f;
  cursor: pointer;
}
