.button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: rgb(46, 56, 84);
  color: white;
  text-transform: uppercase;
  box-shadow: 10px 0 54px -14px rgba(0, 0, 0, 0.75);
  -webkit-app-region: no-drag;
}
.button:hover {
  color: #4ecca3;
}
.button:disabled,
.button[disabled] {
  cursor: not-allowed;
  color: white;
  background-color: rgb(68, 77, 102);
}
